body,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: antiquewhite;
}

header {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

nav {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  font-size: 1.5rem;
}

nav > a {
  color: black;
}

main {
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* align-items: center; */
  /* justify-content: center; */
}
main > article {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 3rem;
  margin: 2rem;
  /* margin-left: 4rem; */
}

.arciclePoc {
  flex-direction: column;
  border: 0.1rem solid black;
  border-radius: 1rem;
  padding: 1.5rem;
  gap: 0.1rem;
}

img {
  width: 12rem;
  height: 12rem;
}

span {
  font-weight: 700;
}

a {
  font-size: 20px;
}

a:hover {
  color: red;
  background-color: rgb(228, 194, 151);
}
